<div class="view-container d-flex flex-column">
  <div class="header d-flex justify-content-around align-items-center">
    <div>
      <ng-template #rt
                   let-r="result"
                   let-t="term">
        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']"
             class="mr-1"
             style="width: 16px">
        <ngb-highlight [result]="r.name"
                       [term]="t"></ngb-highlight>
      </ng-template>

      <!-- <input id="typeahead-template"
             type="text"
             class="form-control"
             [(ngModel)]="model"
             [ngbTypeahead]="search"
             [resultTemplate]="rt"
             [inputFormatter]="formatter" /> -->
      <input type="text"
             placeholder="Search by brand name...">
    </div>
    <div class="compare-container d-flex">
      <div class="select-to-compare-button noselect d-flex justify-content-center align-items-center"
           [class.clicked]="selectionMode"
           (click)="onSelectToCompareClicked()">Select to Compare</div>
      <div *ngIf="selectionMode && carsToCompare.length > 0"
           class="compare-button"
           (click)="onCompareClicked()">
        OK
      </div>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-around list-container">
    <app-item *ngFor="let car of carList"
              [car]="car"
              [selected]="isCarSelected(car.id)"
              [selectionMode]="selectionMode"
              (itemClicked)="onItemClicked($event)"></app-item>
  </div>
  <div class="pagination-container d-flex justify-content-center align-items-center"
       *ngIf="carList.length">
    <ngb-pagination class="d-flex justify-content-start"
                    [collectionSize]="carList.length"
                    [pageSize]="12"
                    [(page)]="page"></ngb-pagination>
  </div>
</div>

<div *ngIf="compareMode"
     class="comparison-container">
  <div class="close-comparison-icon"
       (click)="onCloseCompare()">
    X
  </div>
  <app-compare></app-compare>
</div>