<div class="view-container d-flex flex-column">
  <div class="header d-flex flex-column flex-md-row align-items-center">
    <div class="col-md-6 d-flex align-items-center">
      <div class="brand-logo justify-content-end">
        <img [src]="getLogoURL(brandSelected)"
             *ngIf="brandSelected">
      </div>
      <input type="text"
             class="form-control col-md-8"
             [(ngModel)]="searchText"
             [ngbTypeahead]="search"
             placeholder="Search by brand name..."
             (selectItem)="onBrandSelected($event)" />
      <i class="material-icons noselect search-button"
         (click)="clearSearch()"
         placement="bottom"
         ngbTooltip="Clear search result">clear</i>
    </div>
    <div class="compare-container d-flex col-md-6 justify-content-center">
      <div class="select-to-compare-button noselect d-flex justify-content-center align-items-center"
           [class.clicked]="selectionMode"
           (click)="onSelectToCompareClicked()">Select to Compare</div>
      <div *ngIf="selectionMode && carsToCompare.length > 1"
           class="compare-button noselect d-flex align-items-center"
           (click)="onCompareClicked()"
           placement="top"
           ngbTooltip="Compare cars">
        <img src="./assets/images/compare_icon.png"
             alt="Compare Icon">
      </div>
    </div>
  </div>
  <div class="d-flex flex-wrap justify-content-around list-container">
    <app-item *ngFor="let car of carsPagedList"
              [car]="car"
              [selected]="isCarSelected(car.id)"
              [selectionMode]="selectionMode"
              (itemClicked)="onItemClicked($event)"></app-item>
  </div>
  <div class="pagination-container d-flex justify-content-center align-items-center"
       *ngIf="carList.length">
    <ngb-pagination class="d-flex justify-content-start"
                    [collectionSize]="collectionSize"
                    [pageSize]="pageSize"
                    [(page)]="page"
                    (pageChange)="onPageChange($event)"></ngb-pagination>
  </div>
</div>

<div *ngIf="compareMode"
     class="comparison-container d-flex justify-content-center align-items-center">
  <app-compare [carsSelected]="carsSelected"
               (close)="onCloseCompare()"></app-compare>
</div>