<div class="item-container"
     [class.hover]="!selectionMode"
     (click)="onItemClicked()">
  <span class="year">{{ car.year }}</span>
  <div class="picture-container noselect d-flex align-items-center justify-content-center">
    <img [src]="getPicURL()"
         [alt]="car.model + ' main picture'">
  </div>
  <div class="checkbox-container noselect"
       *ngIf="selectionMode">
    <img src="/assets/images/checkbox_on.png"
         *ngIf="selected">
    <img src="/assets/images/checkbox_off.png"
         *ngIf="!selected">
  </div>
  <div class="title d-flex justify-content-center">
    <span class="brand">{{ car.brand }}</span>
    <span class="model">{{ car.model }}</span>
  </div>
  <div class="price d-flex justify-content-center">
    {{ car.price | currency:'USD' }}
  </div>
</div>