* {
  font-family: Helvetica, Arial, sans-serif;
}

html {
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: white;
  max-height: 100%;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.view-container {
  width: 100%;
  max-width: 1000px;
  position: relative;
  border-radius: 10px;
  background-color: #fafafa;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  display: block;
  position: relative;
  padding: 16px;
}

.carousel-control-prev,
.carousel-control-next {
  cursor: pointer;
}

.carousel-control-prev-icon {
  background-image: url('assets/images/prev_icon.png')
}

.carousel-control-next-icon {
  background-image: url('assets/images/next_icon.png')
}

.pagination {
  margin: 16px 0 0;
}

.dropdown-item {
  padding: 4px 16px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: darkslategray;
}

.dropdown-item img {
  margin-right: 8px;
  width: 16px;
}

.form-control:focus {
  border-color: darkslategray;
  box-shadow: 0 0 0 0.2rem rgba(1, 131, 77, 0.25);
}

app-list {
  width: 100%;
  max-width: 1000px;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: darkslategray;
  border-color: darkslategray;
}

.page-link {
  color: darkslategray;
}