.comparison-content {
  position: relative;
  background-color: whitesmoke;
  border-radius: 10px;
}

.close-icon {
  margin-left: 8px;
  outline: none;
}

.close-icon i {
  font-size: 28px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.car-picture {
  position: absolute;
}

.car-picture img {
  width: 200px;
}

.detail-titles {
  padding: 150px 0 0 16px;
  width: 150px;
  background-color: whitesmoke;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.detail-values {
  padding: 150px 16px 40px 0;
  min-width: 200px;
  max-width: 200px;
  background-color: white;
}

.detail-item {
  height: 40px;
  border-bottom: 1px solid black;
}

.detail-titles .detail-item {
  padding-right: 16px;
  font-weight: bold;
}

.detail-values .detail-item {
  max-width: 200px;
  padding: 0 16px;
  color: cadetblue;
}

@media only screen and (max-width: 768px) {
  .comparison-content {
    max-width: calc(100vw - 64px);
    max-height: calc(100vh - 32px);
    overflow: auto;
  }

  .close-icon i {
    font-size: 24px;
  }

  .car-picture img {
    width: 150px;
  }

  .detail-titles {
    width: 120px;
  }

  .detail-values {
    min-width: 150px;
  }

  .detail-item {
    height: 30px;
    font-size: 14px;
  }
}