.comparison-content {
  position: relative;
  background-color: whitesmoke;
  border-radius: 10px;
}

.close-icon {
  position: absolute;
  top: 0;
  right: -32px;
  outline: none;
}

.close-icon i {
  font-size: 28px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.car-picture {
  position: absolute;
}

.car-picture img {
  width: 200px;
}

.detail-titles {
  padding: 150px 0 0 16px;
  width: 150px;
  background-color: whitesmoke;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.detail-values {
  padding: 150px 16px 40px 0;
  min-width: 200px;
  max-width: 200px;
  background-color: white;
}

.detail-item {
  height: 40px;
  border-bottom: 1px solid black;
}

.detail-titles .detail-item {
  padding-right: 16px;
  font-weight: bold;
}

.detail-values .detail-item {
  max-width: 200px;
  padding: 0 16px;
  color: cadetblue;
}